.column {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    flex-direction: row;
}

.raw {
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    height: 500px;
    background-image: url(aboutImages/BG.png);
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
    flex-direction: column;
}

.head {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.logo a {
    color: rgba(0, 0, 0, 0.616);
    font-weight: bold;
}

.submenu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.submenu li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.616);
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 5px;
}

.submenu li a:hover {
    border: 2px solid rgba(0, 0, 0, 0.616);
    border-radius: 10px;
    padding: 5px;
}

.midle {
    display: flex;
    justify-self: center;
    align-self: center;
    padding-top: 180px;
}

.aboutInfo h3 {
    font-size: 40px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.616);
}

.aboutInfo div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.aboutInfo div a {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 3px;
    padding-right: 3px;
    color: rgba(0, 0, 0, 0.616);
    font-size: 20px;
    font-weight: bold;
    word-spacing: 10px;
    text-decoration: none;
}

/* MAIN */

.section1 {
    height: 550px;
}

.green {
    width: 60px;
    height: 20px;
    background-color: #66ffcc;
    position: absolute;
    margin-top: 10px;
}

.choose {
    margin-top: 150px;
}

.choose h3 {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
    color: rgba(0, 0, 0, 0.616);
}

.choose h2 {
    padding-bottom: 30px;
    color: rgba(0, 0, 0, 0.616);
    font-weight: bold;
}

.choose a {
    line-height: 2;
    color: rgba(0, 0, 0, 0.479);
}

.section2 {
    height: 650px;
    margin-bottom: 100px;
}

.gen {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.some h3 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.616);
    line-height: 1.4;
    position: relative;
}

.gen .green {
    margin-left: -200px;
    margin-top: 20px;
}

.gen a {
    width: 80%;
    text-align: center;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.479);
}

.benefitsLogoInfo {
    margin-top: 100px;
}

.boxes {
    display: flex;
    justify-content: space-between;
}

.boxes:last-child {
    margin-top: 50px;
}

.backGround {
   width: 40px;
   height: 40px;
   background-color: #66ffcc;
   display: flex;
   justify-content: center;
   align-items: center
}

.box {
    display: flex;
    margin-top: 20px;
}

.box h3 {
    display: flex;
    justify-self: flex-end;
}

.box a {
    display: flex;
    justify-self: flex-start;
}

.box div {
    margin-bottom: 20px;
}

.box div h3 {
    padding-top: 10px;
    padding-left: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.616);
}

.box a {
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.479);
}

.green3 {
    margin-left: -226px;
    margin-top: 20px;
    width: 60px;
    height: 20px;
    background-color: #66ffcc;
    position: absolute;
}

.section3 {
    padding-top: 50px;
}

.readMore {
    display: flex;
    align-items: center;
    height: 150px;
    background-color: rgba(192, 192, 192, 0.5);
    margin-left: 30px;
    margin-right: 30px;
}

.readMore a {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.616);;
}

.readMore button {
    width: 165px;
    height: 50px;
    margin-right: 30px;
    background-color: #66ffcc;
    color: white;
    border: none;
    font-weight: bold;
}


/* SECTION4 */

.section4 {
    height: 520px;
}

.john-photo {
    margin-top: 150px;
    display: flex;
    align-items: center;
    padding-left: 45px;
}

.john {
    margin-bottom: 20px;
}

.john-inf {
    text-align: center;
    line-height: 1.4;
    margin-bottom: 20px;
}

.john-but button {
    width: 100px;
    height: 30px;
    color: white;
    background-color: #66ffcc;
    border: none;
    font-weight: bold;
}


.sign-photos {
    margin-top: 150px;
}

.bord {
    border: 1px solid rgba(192, 192, 192, 0.637);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 100px;
}

.space {
    display: flex;
    justify-content: space-between;
}

.space:first-child {
    margin-bottom: 50px;
}


/* SECTION 5 */

.section5 {
    height: 330px;
}

.watter {
    background-color: #66ffcc;
}

.cool {
    padding-top: 50px;
    padding-left: 63px;
}

.cool h3 {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 20px;
    color: white;
    line-height: 1.4;
}

.cool button {
    width: 165px;
    height: 50px;
    background-color: white;
    border: none;
    color: #66ffcc;
    font-weight: bold;
}

.mailDiv {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 50px;
    margin-left: 50px;
    width: 555px;
    height: 233px;
    background-color: white;
}

.mailDiv h3 {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.616);
    line-height: 1.4;
}

.mailDiv a {
    line-height: 1.4;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.479);
    padding-bottom: 20px;
}

.mail {
    width: 510px;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.mail input {
    width: 375px;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid rgba(0, 0, 0, 0.178); 
    border-right-color: transparent;
}

.mail button {
    width: 135px;
    height: 50px;
    background-color: #66ffcc;
    color: white;
    font-weight: bold;
    border: none;
    margin-left: -2px;
}

.mail ::placeholder{
    color: rgba(0, 0, 0, 0.178);
    font-weight: bold;
}


/* FOOTER */

footer {
    height: 160px;
}

.settingsMenuFooter {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

.footerInfo {
    margin-top: 50px;
}

.footerInfo h3 {
    color: rgba(0, 0, 0, 0.479);
    margin-left: 50px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 75px;
    margin-top: 20px;
}