
/* HEADER */

.column {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 850px;
    background-image: url(images/BG.png);
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
    flex-direction: column;
}

.head {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.logo a {
    color: rgba(0, 0, 0, 0.616);
    font-weight: bold;
}

.submenu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.submenu li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.616);
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 5px;
}

.submenu li a:hover {
    border: 2px solid rgba(0, 0, 0, 0.616);
    border-radius: 10px;
    padding: 5px;
}

.midle {
    width: 628px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top: 200px;
}

.were {
    width: 100px;
    height: 30px;
    background-color: #66ffcc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.were a {
    color: rgba(0, 0, 0, 0.616);
    font-weight: bold;
}

.creative {
    width: 555px;
    height: 100px;
    border: 10px solid rgba(0, 0, 0, 0.616);
    display: flex;
    justify-content: center;
    align-items: center;
}

.creative a {
    font-size: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.616);
}

.inf {
    width: 555px;
    height: 100px;
    border: 10px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inf a {
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.479);
    text-align: center;
}

.photoinf {
    display: flex;
    flex-direction: row;
    padding-top: 180px;
}
.first-img {
    padding-top: 30px;
}

.history {
    padding-top: 30px;
}

.green {
    width: 60px;
    height: 20px;
    background-color: #66ffcc;
    position: absolute;
    padding-top: 10px;
}

.gen h3 {
    position: relative;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.616);
}

.text a {
    line-height: 2;
    color: rgba(0, 0, 0, 0.479);
}

.but {
    display: flex;
    justify-content: flex-end;
    padding-top: 33px;
}

.but button {
    width: 165px;
    height: 50px;
    background-color: #66ffcc;
    color: white;
    border: none;
}


/* MAIN */
.section1 {
    height: 1010px;
}
.choose {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 250px;
}

.choose > .green {
    position: absolute;
    margin-right: 79px;
    margin-right: 216px;
    margin-top: 16px;
}

.choose > h3 {
    position: relative;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.616);
}

.choose a {
    display: flex;
    justify-content: center;
    width: 738px;
    text-align: center;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.479);
}

.gnbox {
    display: flex;
    flex-direction: column;
}

.ngnbox {
    display: flex;
    flex-direction: row;

}

.ngnbox:first-child {
    margin-top: 100px;
}

.ngnbox:last-child {
    margin-top: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 215px;
    margin-right: 20px;
}

.lg {
    padding-bottom: 20px;
}

.lg-1 {
   margin-top: 15px;
   padding-bottom: 20px;
}

.box h3 {
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.616);
}
 .box a {
    line-height: 1.4;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.479);
 }

 .infoWithPhoto {
    display: flex;
    flex-direction: row;
 }

.ph {
    margin-top: 87px;
}

 .ph img {
    width: 400px ;
    height: 420px;
 }


/* SECTION 2 */

.numb2 {
    padding-top: 20px;
}

.submenu2 {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 40px;
}

.submenu2 h3 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.616);
    line-height: 1.4;
}


.submenu2 a {
    text-decoration: none;
    line-height: 2;
    font-size: 15px;
    color:rgba(0, 0, 0, 0.616);
    font-weight: bold;
    
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 13px;
    padding-left: 13px;
}

.submenu2 a:hover {
    background-color: #66ffcc;
    color: white;
}

.line {
    display: flex;
    flex-direction: row;
}

.bx img {
    width: 100%;
    height: 100%;
}

.bx {
    padding-top: 30px;
}

.photos {
    padding-top: 70px;
}

/* SECTION 3 */

.section3 {
    background-color: #66ffcc;
    height: 330px;
    margin-top: 100px;
}

.cool {
    padding-top: 50px;
    padding-left: 63px;
}

.cool h3 {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 20px;
    color: white;
    line-height: 1.4;
}

.cool button {
    width: 165px;
    height: 50px;
    background-color: white;
    border: none;
    color: #66ffcc;
    font-weight: bold;
}

.mailDiv {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 50px;
    margin-left: 50px;
    width: 555px;
    height: 233px;
    background-color: white;
}

.mailDiv h3 {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.616);
    line-height: 1.4;
}

.mailDiv a {
    line-height: 1.4;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.479);
    padding-bottom: 20px;
}

.mail {
    width: 510px;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.mail input {
    width: 375px;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid rgba(0, 0, 0, 0.178); 
    border-right-color: transparent;
}

.mail button {
    width: 135px;
    height: 50px;
    background-color: #66ffcc;
    color: white;
    font-weight: bold;
    border: none;
    margin-left: -2px;
}

.mail ::placeholder{
    color: rgba(0, 0, 0, 0.178);
    font-weight: bold;
}

/* FOOTER */

footer {
    height: 160px;
}

.settingsMenuFooter {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

.footerInfo {
    margin-top: 50px;
}

.footerInfo h3 {
    color: rgba(0, 0, 0, 0.479);
    margin-left: 50px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 75px;
    margin-top: 20px;
}



@media(max-width: 426px) {
    .container {
        height: 100%;
    }

    .submenu li {
        margin-bottom: 10px;
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    .col-xs-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .cl {
        display: flex;
        flex-direction: column;
    }

    .midle {
        width: 628px;
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding-top: 230px;
    }

    .creative {
        width: 260px;
        height: 90px;
        border: 10px solid rgba(0, 0, 0, 0.616);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .creative a {
        font-size: 20px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.616);
    }

    .inf {
        width: 260px;
        height: 100px;
        border: 10px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first-img {
        padding-top: 0px;
    }

    .first-img img {
        width: 260px;
        height: 170px;
    }

    .section1 {
        margin-top: 550px;
    }

    .choose a {
        display: flex;
        justify-content: center;
        width: auto;
        text-align: center;
        line-height: 1.4;
        color: rgba(0, 0, 0, 0.479);
    }

    .ph img {
        width: 260px;
        height: 170px;
    }

    .section2 {
        margin-top: 590px;
    }

    .section3 {
        background-color: #66ffcc;
        height: 650px;
        margin-top: 100px;
    }

    .mail {
        width: auto;
        height: 50px;
        display: flex;
        flex-direction: row;
    }

    .mailDiv {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-top: 50px;
        margin-left: 0px;
        width: 289px;
        height: 280px;
        background-color: white;
    }

    .mail input {
        width: 125px;
        height: 50px;
        margin-bottom: 20px;
        padding-left: 16px;
        border: 2px solid rgba(0, 0, 0, 0.178);
        border-right-color: transparent;
    }

    .but {
        display: flex;
        justify-content: center;
        padding-top: 33px;
    }

    .logo {
        margin-bottom: 10px;
    }

    
    
}




